.historyContainer {
    display: block;
    width: 80%;
    margin: 2% 10%;
}

.orderHistoryTableContainer {
    display: block;
    margin: 1rem auto;
    max-width: 90%;
    width: 70rem;
    overflow-x: auto;
   
}

.orderHistoryTable {
    max-width: 60rem;
    width: 70rem;
    border: 0.1rem solid white;
    border-collapse: collapse;
    overflow-x: auto;
}


.orderHistoryTable > thead > tr > th {
    text-align: left;
    font-size: 1.5rem;
    border-bottom: 0.1rem solid white;
    padding-bottom: 0.5rem;
    padding-left: 0.6rem;
    font-weight: 600;
    color: white;
    background-color: #3685d4;
} 

.orderHistoryTable > tbody > tr > td {
    text-align: left;
    border-bottom: 0.1rem solid white;
    padding-left: 0.6rem;
    padding-bottom: 0.5rem;
    font-size: 1.2rem;
    background-color: #adadeb;
    color: rgb(65, 65, 65);
}

.noOrderContainer > h2 {
    font-size: 3rem;
    color: rgb(65, 65, 65);
}

@media only screen and (max-width: 768px) {
    .historyContainer {
        display: block;
        width: 95%;
        margin: 2% 2.5%;
    }
    
    .noOrderContainer > h2 {
        font-size: 2rem;
    }
 
}





