@import url("../UtilityComponents/RootColors/RootColor.css");

.deliveredProductsParentContainer {
    margin: 2rem 0.5rem;
}

.deliveredProductsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2rem;
    padding: 0rem 2rem 0.8rem 2rem;
    border-bottom: 0.1rem solid var(--White50);
    margin-bottom: 1rem;
}

.deliverdProductImg {
    height: 7rem;
    width: 7rem;
}

.deliverdProductPriceContainer > span {
    display: block;
    color: var(--Black100);
    font-size: 1.5rem;
}


@media only screen and (max-width: 992px) {
.deliveredProductsContainer {
    flex-direction: column;
}
.deliveredProductsContainer > div {
    margin-top: 0.5rem;
}
}