
.detailsElements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 0.1rem solid var(--White57);
    margin-bottom: 2rem;
    text-align: right;
}

.detailsElements > h4 {
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
}

.detailsElements > h4:nth-child(even) {
    color: var(--Black75);
    font-weight: 400;
}

@media only screen and (max-width: 768px) {
    .detailsElements > h4 {
        font-size: 1rem;
        margin-bottom: 0.2rem;
    }
}