@import url("../UtilityComponents/RootColors/RootColor.css");

.categoriesContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 1rem;
    box-shadow: none;
}

