@import url("../UtilityComponents/RootColors/RootColor.css");

.informationParentContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0rem 0.5rem;
}

.shipAddressContainer {
    text-align: left;
}

.shipAddressContainer > h2 {
    color: var(--Blue95);
    font-size: 2.4rem;
}

.navBtns {
    background-color: var(--White100);
    border: 0rem;
    color: var(--Gray45);
}

.navBtns:hover {
    color: var(--Black75);
}

.navBtnsActive {
    border: 0rem;
    background-color: var(--White100);
    color: var(--Blue95);
}

.shipAddressContainer > h4 {
    margin-top: 0.6rem;
    color: var(--Black75);
}

.usernameContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 16rem;
}

.userIconContainer {
    border: 0.1rem solid var(--Gainsboro100);
    padding: 0.3rem 0.2rem;
    width: auto;
    margin-bottom: 0.5rem;
}

.usernameContainer > div > div {
    height: 2.4rem;
    width: 2.4rem;
    background-color: var(--Blue85);
    border-radius: 50%;
    padding: 0.5rem 0.7rem;
}

.usernameContainer > div > div > i {
    font-size: 1.1rem;
    color: var(--Gray40);
}
.userEmailContainer > p {
    margin-bottom: 0rem;
}

.userEmailContainer > button {
    background-color: var(--White100);
    border: 0rem;
    font-weight: bold;
    color: var(--Gray55);
    transition: color 0.3s;
}

.userEmailContainer > button:hover {
    color: var(--Black80);
}

.newsLetterSignupForm > form > label {
    display: inline-block;
    margin-left: 0.5rem;
    color: var(--Gray45);
}

.couponParentContainer {
    margin: 0.5rem 0rem;
}

.couponContainer {
    padding: 1rem;
    border: 0.2rem dashed var(--White55);
    margin: 0.8rem 0rem 0.4rem 0rem;
    width: 24.2rem;
}

.couponContainer > p {
    color: var(--Gray55);
}

.couponInputBox {
    margin-right: 0.5rem;
    border: 0.1rem solid var(--Gainsboro100);
    border-radius: 1.5rem;
    padding: 0.5rem;
    color: var(--Gray55);
}

.couponInputBox:focus {
    outline: none;
}

.addSelectorBtnContainer {
    margin: 0.7rem 0rem;
}

.addSelectorBtn {
    background-color: var(--White100);
    border: 0rem;
    margin-right: 0.5rem;
    padding: -1rem;
    color: var(--Gray50);
    font-weight: 600;
    transition: color 0.3s;
}

.addSelectorBtn:hover {
    color: var(--Black65);
}

.addSelectorBtnActive {
    background-color: var(--White100);
    color: var(--Blue98);
    border: 0rem;
    margin-right: 0.5rem;
    padding: -1rem;
    font-weight: 600;
}

.addressFormContainer {
    width: 27rem;
}

.fullWidthInputBox, .halfWidthInputBox, .quadorWidthInputBox {
    margin: 0.5rem 0.2rem;
    padding: 0.5rem;
    border: 0.1rem solid var(--Gainsboro100);
    border-radius: 0.3rem;
}

.fullWidthInputBox:focus, .halfWidthInputBox:focus, .quadorWidthInputBox:focus {
    outline: none;
    border: 0.1rem solid var(--White57);
}

.fullWidthInputBox {
    width: 98%;
}

.halfWidthInputBox {
    width: 48%;
}

.quadorWidthInputBox {
    width: 31.5%;
}

.returnCartBtn {
    background-color: var(--White100);
    border: 0rem;
    color:var(--Blue98);
    transition: color 0.3s;
    font-weight: bold;
    font-size: 1.1rem;
}

.returnCartBtn:hover {
    color: var(--Blue99);
}

.billSheetContainer {
    background-color: var(--LightBlue50);
    padding: 1rem;
}

.mobBillSheetContainer {
    margin-top: 0.6rem;
    display: none;
}

.mobBillSheetBtnContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 40%;
    margin-bottom: 0.5rem;
    background-color: var(--White85);
    padding: 0.5rem;
    transition: background-color 0.3s;
}

.mobBillSheetBtnContainer:hover {
    background-color: var(--White82);
}

.mobBillSheetContainer {
    cursor: pointer;
}

.mobBillSheetBtnContainer > div > button {
    border: 0rem;
    background-color: transparent;
    font-weight: bold;
    font-size: 1rem;
    color: var(--Gray45);
}

.mobBillAmountContainer {
    background-color: var(--LightBlue50);
    padding: 0.5rem;
}

@media only screen and (max-width: 1250px) {

    .returnCartBtn {
        display: inline-block;
        width: 100%;
    }

}

@media only screen and (max-width: 1050px) {
    .billSheetContainer {
        display: none;
    }
    .mobBillSheetContainer{
        display: inline-block;
        width: 100%;
    }
    
    .mobBillSheetBtnContainer {
    width: 60%;
   }
}

@media only screen and (max-width: 456px) {
    .informationParentContainer {
        margin: 0rem 1rem;
    }
    .addressFormContainer {
        width: 23rem;
    }
    .couponContainer {
        width: 20rem;
    }
}


@media only screen and (max-width: 380px) {
    .addressFormContainer {
        width: 20rem;
    }
    .couponContainer {
        width: 19rem;
    }
    
    .quadorWidthInputBox {   
         width: 98%;
    }
    .returnCartBtn {
        display: block;
        margin: 0.5rem auto;
    }
    .informationParentContainer {
        margin: 0rem 1.5rem;
    }
}