.informationParentContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0rem 0.5rem;
}

.shipAddressContainer {
    text-align: left;
}

.shipAddressContainer > h2 {
    color: #3c96ef;
    font-size: 2.4rem;
}

.navBtns {
    background-color: white;
    border: 0rem;
    color: rgb(80, 80, 80);
}

.navBtns:hover {
    color: rgb(40, 40, 40);
}

.navBtnsActive {
    border: 0rem;
    background-color: white;
    color: #3c96ef;
}

.shipAddressContainer > h4 {
    margin-top: 0.6rem;
    color: rgb(40, 40, 40);
}

.usernameContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 16rem;
}

.userIconContainer {
    border: 0.1rem solid gainsboro;
    padding: 0.3rem 0.2rem;
    width: auto;
    margin-bottom: 0.5rem;
}

.usernameContainer > div > div {
    height: 2.4rem;
    width: 2.4rem;
    background-color: #5badff;
    border-radius: 50%;
    padding: 0.5rem 0.7rem;
}

.usernameContainer > div > div > i {
    font-size: 1.1rem;
    color: rgb(97, 97, 97);
}
.userEmailContainer > p {
    margin-bottom: 0rem;
}

.userEmailContainer > button {
    background-color: white;
    border: 0rem;
    font-weight: bold;
    color: rgb(61, 61, 61);
    transition: color 0.3s;
}

.userEmailContainer > button:hover {
    color: rgb(16, 16, 16);
}

.newsLetterSignupForm > form > label {
    display: inline-block;
    margin-left: 0.5rem;
    color: rgb(85, 85, 85);
}

.couponParentContainer {
    margin: 0.5rem 0rem;
}

.couponParentContainer > button, .couponBtn {
    background-color: #3c96ef;
    border: 0rem;
    padding: 0.4rem 0.6rem;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s;
    font-size: 1rem;
}

.couponBtn {
    border-radius: 1.5rem;
    padding: 0.5rem;
    border: 0.1rem solid #3c96ef;
}

.couponParentContainer > button:hover, .couponBtn:hover {
    background-color: #3180cf;
}

.couponBtn:hover {
    background-color: #4a53ff;
    border: 0.1rem solid #4a53ff;
}

.couponContainer {
    padding: 1rem;
    border: 0.2rem dashed rgb(188, 188, 188);
    margin: 0.8rem 0rem 0.4rem 0rem;
    width: 24.2rem;
}

.couponContainer > p {
    color: rgb(65, 65, 65);
}

.couponInputBox {
    margin-right: 0.5rem;
    border: 0.1rem solid gainsboro;
    border-radius: 1.5rem;
    padding: 0.5rem;
    color: rgb(65, 65, 65);
}

.couponInputBox:focus {
    outline: none;
}

.addSelectorBtnContainer {
    margin: 0.7rem 0rem;
}

.addSelectorBtn {
    background-color: white;
    border: 0rem;
    margin-right: 0.5rem;
    padding: -1rem;
    color: rgb(70, 70, 70);
    font-weight: 600;
    transition: color 0.3s;
}

.addSelectorBtn:hover {
    color: rgb(31, 31, 31);
}

.addSelectorBtnActive {
    background-color: white;
    color: #3180cf;
    border: 0rem;
    margin-right: 0.5rem;
    padding: -1rem;
    font-weight: 600;
}

.addressFormContainer {
    width: 27rem;
}

.fullWidthInputBox, .halfWidthInputBox, .quadorWidthInputBox {
    margin: 0.5rem 0.2rem;
    padding: 0.5rem;
    border: 0.1rem solid gainsboro;
    border-radius: 0.3rem;
}

.fullWidthInputBox:focus, .halfWidthInputBox:focus, .quadorWidthInputBox:focus {
    outline: none;
    border: 0.1rem solid rgb(200, 200, 200);
}

.fullWidthInputBox {
    width: 98%;
}

.halfWidthInputBox {
    width: 48%;
}

.quadorWidthInputBox {
    width: 31.5%;
}

.continueShopBtn {
    padding: 0.5rem 0.8rem;
    border: 0rem;
    background-color: rgb(16, 0, 73);
    border-radius: 0.4rem;
    color: white;
    font-weight: bold;
    margin: 1rem 1rem 1rem 0rem;
    transition: background-color 0.3s;
}

.continueShopBtn:hover {
    background-color: rgb(25, 0, 113);
}

.returnCartBtn {
    background-color: white;
    border: 0rem;
    color:#3789da;
    transition: color 0.3s;
    font-weight: bold;
    font-size: 1.1rem;
}

.returnCartBtn:hover {
    color:#286bae;
}

.billSheetContainer {
    background-color: #d3ffff;
    padding: 1rem;
}

.mobBillSheetContainer {
    margin-top: 0.6rem;
    display: none;
}

.mobBillSheetBtnContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 40%;
    margin-bottom: 0.5rem;
    background-color: rgb(222, 222, 222);
    padding: 0.5rem;
    transition: background-color 0.3s;
}

.mobBillSheetBtnContainer:hover {
    background-color: rgb(205, 205, 205);
}

.mobBillSheetContainer {
    cursor: pointer;
}

.mobBillSheetBtnContainer > div > button {
    border: 0rem;
    background-color: transparent;
    font-weight: bold;
    font-size: 1rem;
    color: rgb(80, 80, 80);
}

.mobBillAmountContainer {
    background-color: #d3ffff;
    padding: 0.5rem;
}

@media only screen and (max-width: 1050px) {
    .billSheetContainer {
        display: none;
    }
    .mobBillSheetContainer{
        display: inline-block;
        width: 100%;
    }
    
    .mobBillSheetBtnContainer {
    width: 60%;
   }
}

@media only screen and (max-width: 456px) {
    .informationParentContainer {
        margin: 0rem 1rem;
    }
    .addressFormContainer {
        width: 23rem;
    }
    .couponContainer {
        width: 20rem;
    }
    .couponBtn {
        margin-top: 0.8rem;
    }
}


@media only screen and (max-width: 380px) {
    .addressFormContainer {
        width: 20rem;
    }
    .couponContainer {
        width: 19rem;
    }
    
    .quadorWidthInputBox {   
         width: 98%;
    }
    .continueShopBtn, .returnCartBtn {
        display: block;
        margin: 0.5rem auto;
    }
    .informationParentContainer {
        margin: 0rem 1.5rem;
    }
}