@import url("../UtilityComponents/RootColors/RootColor.css");

.wishlistContainer {
    position: absolute;
    z-index: 3;
    left: 0rem;
    width: 90%;
    margin: -1% 5%;
    box-shadow: var(--BoxShadow) 0px 3px 8px;
    border: 0rem;
    display: block;
}


.wishlistHeader {
    text-align: right;
    padding: 0.5rem 0.2rem;
    background-color: var(--Gray55);
}

.wishlistHeader > span:nth-child(odd) {
    font-weight: bold;
    font-size: 1.2rem;
    margin-right: 0.5rem;
    color: var(--var(--White100)90);
}

.wishlistHeader > span:nth-child(even) {
    color: var(--var(--White100)85);
    border: 0.1rem solid var(--var(--White100)90);
    padding: 0.2rem 0.4rem;
    cursor: pointer;
    transition: color 0.3s, border 0.3s;
}

.wishlistHeader > span:nth-child(even):hover {
    color: var(--var(--White100)55);
    border: 0.1rem solid var(--var(--White100)57);
}

.wishlistAllClearContainer {
    background-color: var(--LightBlue50);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: relative;
    padding: 2rem 2rem 1rem 2rem;
    color: var(--Gray55);
    font-weight: bold;
    font-size: 1.4rem;
    border-bottom: 0.1rem solid var(--Gray55);;
}

.clearAllContainer {
    position: absolute;
    width: 8rem;
    right: 3rem;
    z-index: 2;
    padding: 0.2rem;
    background-color: var(--White100);
    border-radius: 0.3rem;
    display: none;
}

.clearAllContainer_active {
    display: block;
}

.clearAllContainer_disabled {
    display: none;
}

.clearAllContainer > button {
    font-size: 1.2rem;
    display: inline-block;
    border: 0rem;
    background-color: var(--White100);
    font-size: 1rem;
    font-weight: bold;
    color: rgb(55, 55, 55);
}

.clearAllContainer > button:hover {
    color: var(--var(--Black100)100);
}


.wishlistAllClearContainer > div > button {
    font-size: 1.2rem;
    background-color: transparent;
    border: 0rem;
    transition: color 0.3s;
}

.wishlistAllClearContainer > div > button:focus {
    outline: none;
    border: none;
}

.wishlistAllClearContainer > div > button:hover {
    color: var(--Gray45);
}

.productsContainer {
    padding: 2rem 1rem;
    background-color: var(--LightBlue50);
    height: 28rem;
    overflow-y: scroll;
}

.prodContainer {
    color: var(--Black100);
    display: inline-block;
    border: 0.1rem solid var(--Gainsboro100);
    background-color: var(--White100);
    position: relative;
    border-radius: 0.4rem;
    padding: 0rem;
    margin: 1rem 1.5rem;
    width: 12rem;
    height: 22.9rem;
    text-align: left;
}

.prodContainer:hover {
    box-shadow: var(--BoxShadow) 0px 3px 8px;
    border: 0.1rem solid transparent;
}

.closeBtnDiv {
    background-color: var(--Gray55);
    text-align: right;
    border: 0rem;
}

.closeBtnDiv > span {
    color: var(--White100);
    margin: 0.4rem 0.5rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: color 0.3s;
}

.closeBtnDiv > span:hover {
    color: var(--White82);
}

.offerText {
    background-color: var(--Blue100);
    display: inline-block;
    padding: 0.2rem 0.3rem;
    position: absolute;
    border-radius: .3rem;
    top: 2rem;
    margin: 0.1rem;
    font-weight: bold;
    color: var(--White100);
}

.imgContainer > img {
    height: 8rem;
    width: 10rem;
    display: block;
    margin: 1.2rem auto;
}

.starIconContainer {
    display: inline-block;
    margin: 0rem 0.3rem;
    font-size: 0.8rem;
    color: var(--OrangeRed80);
    background-color: var(--White82);
    padding: 0.1rem 0.4rem;
    border: 0px;
    border-radius: 0.3rem;
}

.cardTitle {
    font-size: 1.2rem;
    padding: 0.2rem 0.2rem;
    color: var(--Blue100);
    cursor: pointer;
    line-height: 1.2rem;
}

.prodPrice {
    color: var(--Green100);
    font-size: 1.3rem;
    margin: 0rem 0.2rem;
    display: inline-block;
}

.prodOrigiPrice {
    color: var(--Black65);
    text-decoration: line-through;
    display: inline-block;
    font-size: 1rem;
    margin-left: 0.2rem;
}

.addToCartContainer > button {
    display: block;
    background-color: var(--Gray55);
    color: var(--White100);
    width: 100%;
    border: 0rem;
    padding: 0.5rem 0.1rem;
    font-weight: bold;
    transition: background-color 0.3s;
}

.addToCartContainer > button:hover {
    background-color: var(--Black65);
}