@import url("../UtilityComponents/RootColors/RootColor.css");


.PopularContainerHeading {
    text-align: left;
    color: #2c80d4;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.cardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cardContainer > div {
    margin: 0.5rem;
    cursor: pointer;
    transition: color 0.3s;
}

.cardContainer > div:hover {
    color: #2c80d4;
}

@media only screen and (max-width: 576px) {
.PopularContainerHeading {
    font-size: 1.2rem;
}

}