@import url("../UtilityComponents/RootColors/RootColor.css");

.categoryBarContainer {
    background-color: var(--White90);
    padding: 0.4rem;
}
.categoryBarSelectMenu {
    border: 3px solid var(--Gray100);
    border-radius: 0.4rem;
    padding: 0.3rem;
}

.categoryButtonsContainer {
    display: block;
    margin: 0px auto;
}
.categoryButtonsContainer > div {
    display: inline-block;
    margin: 0rem 1rem;
}
.categoryButtons {
    margin: 0rem 0.2rem;
    border: none;
    background-color: transparent;
    font-weight: bold;
    color: var(--Gray55);
    transition: color 0.3s;
}
.categoryButtons:hover {
    color: var(--Black80);
}

.dropdownContainer {
    position: relative;
}

.dropdownContainer > button {
    border: 0rem;
    outline: 0rem;
    background-color: var(--White100);
    padding: 0.3rem 0.6rem;
    border-radius: 0.4rem;
    color: var(--Gray55);
}

.dropdownContainer > button > span {
    font-weight: bold;
    color: var(--Gray55);
    transition: color 0.3s;
}

.dropdownContainer > button > span:hover {
    color: var(--Black65);
}

.dropdownElementsContainer {
    background-color: var(--White100);
    border: 0rem;
    border-radius: 0.3rem;
    margin-top: 0.3rem;
    position: absolute;
    z-index: 3;
    box-shadow: var(--BoxShadow) 0px 3px 8px;
    width: 12rem;
    left: -14rem;
    transition: 0.4s;
}

.dropdownElementsContainer_active {
    background-color: var(--White100);
    padding: 1rem;
    border: 0rem;
    border-radius: 0.3rem;
    margin-top: 0.3rem;
    position: absolute;
    z-index: 3;
    width: 12rem;
    left: 0rem;
    transition: 0.4s;
}

.dropdownElementsInnerContainer {
   text-align: left;
   padding: 0.3rem;
   border-bottom: 0.1rem solid var(--White82);
   transition: background-color 0.3s;
}

.dropdownElementsInnerContainer > div:nth-child(even) {
   display: inline-block;
   cursor: pointer;
   color: var(--Gray50);
   font-weight: bold;
   transition: color 0.3s;
}

.dropdownElementsInnerContainer:hover {
    background-color: var(--White95);
    cursor: pointer;
}

.dropdownElementsInnerContainer > div:nth-child(even):hover {
    color: var(--Blue80);
}

.dropdownElementsInnerContainer > div:nth-child(odd) {
    display: inline-block;
    margin: 0rem 0.3rem;
    color: var(--Blue80);
    width: 2rem;
}

.elementsRelatedCategoryContainer {
    position: absolute;
    background-color: var(--White100);
    z-index: 3;
    top: 2.3rem;
    border: 0rem;
    border-radius: 0.4rem;
    padding: 1rem;
    box-shadow: var(--BoxShadow) 0px 3px 8px;
}

.elementsRelatedCategoryContainer_disabled {
    display: none;
}

.elementsRelatedCategoryContainer_active {
    display: block;
    z-index: 2;
}

.elementsRelatedCategoryInnerContainer {
    margin-left:12rem;
    margin-right: 1rem;
    text-align: left;
}

.elementsRelatedCategoryInnerContainer > span {
    display: inline-block;
    padding: 0rem;
    font-weight: bold;
    font-size: 1.2rem;
}

.elementsRelatedCategoryInnerContainer > ul {
    padding-left: 0rem;
    width: 10rem;
}

.elementsRelatedCategoryInnerContainer > ul > li {
    list-style-type: none;
    text-align: left;
    font-size: 1.1rem;
    border-bottom: 0.1rem solid var(--White82);
    color: var(--White42);
    margin: 0.5rem 0rem;
    cursor: pointer;
    transition: color 0.3s;
}

.elementsRelatedCategoryInnerContainer > ul > li:hover {
    color: var(--Black100);
}


@media only screen and (max-width: 992px) {
    .categoryBarContainer {
        display: none;
    }
}
