@import url("../UtilityComponents/RootColors/RootColor.css");

.myAccountContainer {
    display: block;
    width: 80%;
    margin: 2% 10%;
}


.myAccountInnerContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.myAccountNavigationLinkContainer > span > i {
    font-size: 3rem;
    color: rgb(155, 155, 155);
    margin-top: 1.2rem;
}

.myAccountNavigationLinkContainer > h4 {
    font-size: 1.5rem;
    color: rgb(130, 130, 130);
    text-decoration: none;
}
.myAccountNavigationLinkContainer {
    width: 14rem;
    height: 9rem;
    padding: 0.5rem;
    border: 0.2rem solid rgb(190, 190, 190);
    background-color: rgb(246, 246, 246);
    margin: 0.6rem;
    border-radius: 0.5rem;
    text-decoration: none;
    transition: border 0.3s;
}

.myAccountNavigationLinkContainer:hover  {
    border: 0.2rem solid rgb(143, 143, 143);
}

@media only screen and (max-width: 768px) {
    .myAccountContainer {
        display: block;
        width: 60%;
        margin: 2% 20%;
    }
}





