@import url("../UtilityComponents/RootColors/RootColor.css");


.cardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cardContainer > div {
    margin: 0.5rem;
    cursor: pointer;
    transition: color 0.3s;
}
