@import url("../UtilityComponents/RootColors/RootColor.css");


.cardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cardContainer > div {
    margin: 0.5rem;
    cursor: pointer;
    transition: color 0.3s;
}


.cardChildContainers {
    width: 13rem;
    border: 0.1rem solid var(--Gainsboro100);
    border-radius: 0.5rem;   
    text-align: left;
    position: relative;
    cursor: pointer;
}

.offerShower {
    position: absolute;
    padding: 0.2rem 0.4rem;
    background-color: var(--Blue85);
    font-weight: bold;
    color: var(--Black100);
    border: 0rem;
    border-radius: 0.3rem;
    margin: 0.1rem;
}

.cardChildContainers:hover {
    border: 0.1rem solid var(--White100);
    box-shadow: var(--BoxShadow50) 0px 2px 8px 0px;
}
.cardChildContainers:hover .cardTitle {
     color: var(--Blue100);
}

.cardChildContainers > img {
    height: 10rem;
    width: 12rem;
    display: block;
    margin: 1.5rem auto 0.4rem auto;
}

.starIconContainer {
    font-size: 0.9rem;
    display: inline-block;
    width: 46%;
    margin: 0.5rem 0rem;
    color: var(--Orange80);
    background-color: var(--White82);
    padding: 0.1rem 0.4rem;
    border: 0px;
    border-radius: 0.3rem;
}

.cardTitle {
    font-size: 1.1rem;
    margin: 0.3rem 0rem 0.1rem 0.4rem;
    color: var(--Blue98);
    font-weight: bold;
    transition: color 0.2s;
}
.prodPrice {
    display: inline-block;
    font-size: 1.1rem;
    margin: 0rem 0rem 0.1rem 0.4rem;
    color: var(--Green100);
}

.prodOrigiPrice {
    display: inline-block;
    font-size: 1rem;
    color: var(--Gray100);
    margin: 0rem 0rem 0.1rem 0.6rem;
    text-decoration: line-through;
}

.cardAndWishlistContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 0.3rem;
    background-color: var(--White82);
    padding: 0.2rem 0.2rem;
    margin-top: 0.5rem;
}

.cardAndWishlistContainer > div {
    background-color: var(--White100);
    border: 0px;
    padding: 0.38rem 0.6rem;
    border-radius: 50%;
    color: var(--White55);
    transition: background-color 0.3s, color 0.3s;
}

.cardAndWishlistContainer > div:hover {
   background-color: var(--Blue98);
   color: var(--White100);
}


@media only screen and (max-width: 768px) {
    
.cardChildContainers {
    width: 10rem;
}


.cardChildContainers > img {
    height: 6rem;
    width: 7.5rem;
}

.starIconContainer {
    width: 55%;
    font-size: 0.8rem;
    padding: 0.2rem 0.4rem;
}

.cardTitle {
    font-size: 0.9rem;
}
.prodPrice {
    font-size: 0.9rem;
}

.prodOrigiPrice {
    font-size: 0.8rem;
}


.cardAndWishlistContainer > div {
    padding: 0.28rem 0.5rem;
}


.offerShower {
   font-size: 0.8rem;
}


}
