@import url("../UtilityComponents/RootColors/RootColor.css");

.orderTrackerContainer {
    display: block;
    margin: 1rem auto;
    width: 80%;
}

.orderedProductsContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: 0.1rem solid gainsboro;
    align-items: center;
    border-radius: 0.4rem;
    margin: 0.5rem auto;
    padding: 0.8rem 0rem;
}

.orderTrackProdImage {
    height: 8rem;
    width: 7rem;
}

.orderDetailsContentContainer {
    text-align: left;
    position: relative;
    width: 90%;
}

.orderProdId {
    position: absolute;
    display: block;
    right: 0rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    margin: 0rem 1rem;
    background-color: #378ade;
    border-radius: 0.3rem;
    padding: 0rem 0.3rem;
}

.orderDetailsContentContainer > h3 {
    color: rgb(60, 60, 60);
    margin: 0rem;
    font-size: 2.2rem;
}

.orderedProdPrice {
    color: green;
    font-size: 2rem;
    margin: 0rem;
}

.orderedProdOffer {
    color: orangered;
    font-size: 1.4rem;
    margin: 0rem;
}

.orderTrackerStepsContainer {
    width: 25rem;
    margin: 1.5rem auto;
    display: block;
}

.orderStepContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 1rem;
}

.orderStepParentContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.orderStepsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.orderStepsLineContainer > span {
    height: 4rem;
    width: 4rem;
    display: block;
    font-size: 3rem;
    margin-left: 1rem;
    color: rgb(160, 160, 160);
}

.orderNumber {
    font-size: 1.2rem;
    color: rgb(61, 61, 61);
    font-weight: bold;
    padding: 0.2em 0.8rem;
    border: 0.1rem solid rgb(200, 200, 200);
    background-color: rgb(200, 200, 200);
    border-radius: 50%;
}

.orderNumberActive, .orderScaleActive {
    background-color: #378ade;
    color: white;
    border: 0.1rem solid #378ade;
}

.orderScale {
    height: 4rem;
    width: 0.5rem;
    border: 0.1rem solid rgb(200, 200, 200);
    display: block;
    background-color: rgb(200, 200, 200);
    margin: 0.5rem auto;
    border-radius: 0.3rem;
}


.orderScaleActive {
    background-color: #378ade;
    color: white;
    border: 0.1rem solid #378ade;
}

.orderScaleDisabled {
    height: 4rem;
    width: 0.5rem;
    display: block;
    margin: 0.5rem auto;
    visibility: hidden;
}

.orderStepContentContainer {
    text-align: left;
    padding-left: 1rem;
}

.orderStepContentContainer > h2, .orderStepContentContainer > p, .orderStepContentContainer > span {
    margin-bottom: 0rem;
    display: block;
    color: gray;
    font-weight: 600;
}

.orderStepContentContainer > h2 {
    color: rgb(61, 61, 61);
}


.orderCancelReasonSelector {
    width: 100%;
    padding: 0.6rem;
    color: rgb(80, 80, 80);
    font-size: 1.2rem;
    border: 0.1rem solid gainsboro;
    display: block;
    margin-bottom: 0.8rem;
}

.orderCancelReasonSelector:focus {
    outline: none;
}

.canceledProductPaymentDetailsContainer {
    padding: 0.3rem 0.8rem 0.8rem 0.8rem;
    border: 0.1rem solid rgb(200, 200, 200);
    background-color: rgb(240, 240, 240);
    border-radius: 0.4rem;
    text-align: left;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.8rem;
}

.canceledProductPaymentDetailsContainer > span {
    display: block;
    margin-bottom: 0.5rem;
}

.canceledProductPaymentDetailsContainer > .canceledProductPaymentDetailsContainerHeading {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 0.2rem;
}

@media only screen and (max-width: 992px) {
    .orderTrackProdImage {
        height: 8.5rem;
   }
    .orderDetailsContentContainer > h3 {
        margin-top: 1.6rem;
        font-size: 1.8rem;
    }
    
    .orderProdId {
    font-size: 1rem;
    }
    
    .orderedProdPrice {
    font-size: 1.6rem;
    }
    
    .orderedProdOffer {
    font-size: 1rem;
    }
    
    .orderTrackerStepsContainer {
        width: 23rem;
    }
}

@media only screen and (max-width: 576px) {
    .orderTrackerStepsContainer {
        width: 20rem;
    }
}