@import url("../UtilityComponents/RootColors/RootColor.css");

.accountDetailsContainer {
    display: block;
    width: 50%;
    margin: 1% 25%;
    padding: 0.2rem 0.5rem;
}

.userDp {
    height: 4rem;
    width: 4rem;
    border: 0.2rem solid var(--Black65);
    border-radius: 50%;
}

.detailsElementsContainer {
    width: 100%;
    margin: 1.5rem 0.3rem 1rem 0.3rem;
}


.passwordChangerHeading {
    text-align: left;
    margin-top: 0.5rem;
}

.passwordChangeContainer {
    border: 0.2rem solid var(--White57);
    padding: 1rem 0.5rem;
}


.formFieldsElementsContainer {
    width: 100%;
}

.formFieldsElementsContainer > input {
    width: 100%;
    margin-bottom: 0.5rem;
    outline: none;
    border: 0.1rem solid var(--White85);
    border-radius: 0.4rem;
    padding: 0.3rem 0.6rem;
    color: var(--Gray55);
}

.formFieldsElementsContainer > input:focus {
    outline: none;
}

.formFieldsElementsContainer > label {
    display: block;
    text-align: left;
    margin-bottom: 0.2rem;
    color: var(--Gray45);
}

.actionBtnsContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}


@media only screen and (max-width: 576px) {
    .accountDetailsContainer {
        width: 90%;
        margin: 2% 5%;
    }
}