@import url("../UtilityComponents/RootColors/RootColor.css");

.productParentContainer {
    display: flex;
    flex-direction: row;
    width: 98%;
    margin: 1rem;
}

.productImageContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.prodImgLeftContainer>div {
    height: 7rem;
    width: 7rem;
    cursor: pointer;
    border: 0.1rem solid var(--White100);
}

.prodImgLeftContainer>div:hover {
    border: 0.1rem solid var(--Gray100);
}

.prodImgLeftContainer>div>img {
    height: 6rem;
    width: 6rem;
    margin: 0.5rem;
}

.prodImgRightContainer {
    border: 0.1rem solid var(--White100);
}

.prodImgRightContainer>img {
    height: 16rem;
    width: 16rem;
    margin: 5rem 0rem;
}

.prodActionButtonContainer {
    padding: 0.8rem 0.3rem;
    display: inline-block;
}

.nonOutlineBtn {
    border: 0rem;
    padding: 0.6rem 1rem;
    background-color: var(--Blue98);
    font-weight: bold;
    border-radius: 0.4rem;
    color: var(--White100);
    margin: 0.5rem 0.5rem;
    transition: background-color 0.3s;
}

.nonOutlineBtn:hover {
    background-color: var(--Blue100);
}

.outlineBtn,
.sizeAndColorBtns,
.reviewContainerBtns,
.QandAContainerBtns {
    background-color: var(--White100);
    border: 0.1rem solid var(--Blue98);
    padding: 0.6rem 1rem;
    font-weight: bold;
    border-radius: 0.4rem;
    color: var(--Blue98);
    margin: 0.5rem 0.5rem;
    transition: background-color 0.3s;
}

.outlineBtn:hover,
.sizeAndColorBtns:hover,
.reviewContainerBtns:hover,
.QandAContainerBtns:hover {
    background-color: var(--Blue98);
    color: var(--White100);
}

.sizeAndColorBtns {
    padding: 0.3rem 0.6rem;
}

.sizeAndColorBtns_active {
    background-color: var(--Blue98);
    color: var(--White100);
}

.sizeAndColorBtns_active:hover {
    background-color: var(--Blue99);
}

.sizeAndColorBtns:first-child {
    margin-left: 0rem;
}

.productContentContainer {
    text-align: left;
    padding: 0.5rem;
}

.ratingContainer>div {
    display: inline-block;
    background-color: var(--White90);
    padding: 0.2rem 0.4rem;
    border: 0rem;
    border-radius: 0.3rem;
    margin-right: 0.6rem;
}

.ratingContainer>div>span>i {
    color: var(--Orange100);
}

.reviewTxt {
    color: var(--Gray45);
    font-weight: bold;
}

.prodDetailsContainer {
    margin: 1rem 0rem;
}

.inStockIconContainer>i {
    color: var(--Blue98);
}

.prodDetailsTable>tbody>tr>th {
    color: var(--Gray55);
    vertical-align: top;
}

.prodDetailsTable>tbody>tr>td {
    text-align: left;
    display: inline-block;
    padding: 0.2rem 0.2rem 0.2rem 1rem;
    color: var(--White45);
}


.priceContainer>h2 {
    color: var(--Blue98);
    display: inline-block;
}

.priceContainer>h3 {
    text-decoration: line-through;
    display: inline-block;
    margin: 0rem 1rem;
    font-size: 1.3rem;
}

.offerContainer>h3 {
    color: var(--OrangeRed80);
    font-size: 2.2rem;
    font-weight: bold;
}

.increDecreContainer {
    margin: 0rem 1rem;
}

.increDecreContainer>button {
    border: 0.1rem solid var(--Gainsboro100);
    background-color: var(--Blue100);
    color: var(--White100);
    font-weight: bold;
    font-size: 1.3rem;
    width: 2rem;
    transition: background-color 0.3s;
}

.increDecreContainer>button:hover {
    background-color: var(--Blue99);
}

.increDecreContainer>b {
    font-size: 1.3rem;
    padding: 0.2rem 0.8rem;
    border-top: 0.1rem solid var(--Gainsboro100);
    border-bottom: 0.1rem solid var(--Gainsboro100);
    color: var(--Gray55);
}

.priceContainer,
.offerContainer,
.increDecreContainer {
    margin-left: 7rem;
}

.socialMediaBtnsContainer {
    margin-left: 7rem;
}

.socialMediaBtnsContainer>button {
    background-color: var(--White90);
    border: 0.2rem solid var(--White82);
    margin: 0.6rem 0.6rem 0rem 0.6rem;
    font-weight: bold;
    padding: 0.3rem 0.5rem;
    transition: border 0.3s;
}

.socialMediaBtnsContainer>button:hover {
    border: 0.2rem solid var(--White55);
}

.socialMediaBtnsContainer>button:first-child {
    margin-left: 0rem;
}

.colorBlueBtn {
    font-size: 1rem;
    color: var(--Blue100);
}

.colorLiteBlueBtn {
    font-size: 1rem;
    color: var(--Blue98);
}

.colorRedBtn {
    font-size: 1rem;
    color: var(--Red100);
}

.productDescription,
.productSpecification,
.productReviews,
.productQandA,
.FAProdContainer {
    margin: 1rem;
    border: 0.1rem solid var(--White82);
    text-align: left;
    padding: 0.4rem;
    color: var(--Gray55);
}

.TitleContainer,
.TitleContainerReview,
.TitleContainerQandA,
.TitleContainerFAProd {
    padding: 0.3rem;
    border-bottom: 0.1rem solid var(--White82);
}

.productDescription>p {
    padding-top: 0.4rem;
    color: var(--White45);
}

.productSpecification>table {
    width: 100%;
}

.tableHeaderAndElementsContainer>tr>th,
.tableHeaderAndElementsContainer>tr>td {
    padding: 0.4rem;
}

.tableHeaderAndElementsContainer>tr>th {
    color: var(--Gray55);
    vertical-align: top;
}

.tableHeaderAndElementsContainer>tr>td {
    color: var(--White45);
}

.TitleContainerReview,
.TitleContainerQandA,
.TitleContainerFAProd {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.TitleContainerReview>button,
.TitleContainerQandA>button,
.TitleContainerFAProd>button {
    height: 2rem;
    width: 2rem;
    border: 0.1rem solid var(--White82);
    border-radius: 50%;
    background-color: var(--White85);
    font-weight: bold;
    color: var(--Gray50);
    cursor: pointer;
    transition: background-color 0.3s;
}


.TitleContainerReview>button:hover,
.TitleContainerQandA>button:hover,
.TitleContainerFAProd>button:hover {
    border: 0.1rem solid var(--White57);
    background-color: var(--White85);
    color: var(--Black100);
}

.qaSearchBarContainer {
    margin: 0.5rem 0rem;
}

.qaSearchBarContainer>form>input {
    border: 0.1rem solid var(--Gainsboro100);
    padding: 0.5rem;
    color: var(--Gray45);
    width: 30%;
}

.qaSearchBarContainer>form>button {
    padding: 0.5rem;
    border: none;
    background-color: var(--Blue100);
    color: var(--White100);
    transition: background-color 0.3s;
    border: 0.1rem solid var(--Blue100);
}

.qaSearchBarContainer>form>input:focus {
    outline: none;
    border: 0.1rem solid var(--White55);
}

.qaSearchBarContainer>form>button:hover {
    background-color: var(--Blue100);
    border: 0.1rem solid var(--Blue100);
}

.reviewFormContainer,
.QandAFormContainer {
    width: 60%;
    margin: auto;
}

.reviewFormContainerActive,
.QandAFormContainerActive {
    display: block;
}

.reviewFormContainerDisabler,
.QandAFormContainerDisabler {
    display: none;
}

.reviewFormContainer>form>input,
.QandAFormContainer>form>input {
    display: block;
    border: 0.1rem solid var(--Gainsboro100);
    padding: 0.5rem;
    margin: 0.8rem 0rem;
    border-radius: 0.4rem;
    color: var(--Gray45);
    width: 100%;
}

.reviewFormContainer>form>input:focus,
.QandAFormContainer>form>input:focus {
    outline: none;
    border: 0.1rem solid var(--White55);
}

.reviewContainerBtns,
.QandAContainerBtns {
    padding: 0.4rem 0.8rem;
}

.prodPeopleReviewContainer,
.prodPeopleQandAContainer {
    border-top: 0.1rem solid var(--White82);
}

.prodPeopleReviewContainer>h5,
.prodPeopleQandAContainer>h5 {
    margin: 0.2rem auto;
}

.reviewRatingStarsContainer>span>i {
    color: var(--Orange100);
}

.prodPeopleReviewContainer>p {
    margin: 0.2rem 0rem 0.4rem 0rem;
}

.prodPeopleReviewContainer>button,
.prodPeopleQandAContainer>button {
    border: 0rem;
    background-color: transparent;
    cursor: pointer;
    color: var(--Gray100);
    margin: 0rem 0.3rem;
    transition: color 0.3s;
}

.prodPeopleReviewContainer>button:hover,
.prodPeopleQandAContainer>button:hover {
    color: var(--Blue98);
}

.question {
    font-size: 1rem;
    color: var(--Gray45);
}

.answer {
    font-size: 1rem;
    color: var(--White42);
    font-weight: 400;
}

@media only screen and (max-width: 1200px) {

    .qaSearchBarContainer>form>input {
        width: 50%;
    }
}

@media only screen and (max-width: 768px) {

    .productImageContainer {
        flex-wrap: wrap;
    }

    .productParentContainer {
        flex-wrap: wrap;
        width: 96%;
        justify-content: center;
    }

    .reviewFormContainer,
    .QandAFormContainer {
        width: 90%;
    }

    .qaSearchBarContainer>form>input {
        width: 80%;
    }

}

@media only screen and (max-width: 390px) {

    .prodActionButtonContainer {
        padding: 0.3rem 0.1rem;
    }

    .increDecreContainer > button {
        font-size: 1rem;
        width: 1.7rem;
    }
    
    .increDecreContainer > b {
        font-size: 1rem;
        padding: 0.1rem 0.8rem;
        border-top: 0.1rem solid var(--Gainsboro100);
        border-bottom: 0.1rem solid var(--Gainsboro100);
    }
    
    .priceContainer, .offerContainer, .increDecreContainer {
        margin-left: 7rem;
    }

    .socialMediaBtnsContainer {
        margin-left: 0rem;
    }
    
    .colorBlueBtn, .colorLiteBlueBtn, .colorRedBtn {
        font-size: 0.7rem;
    }
   
    
}