.addressDetailsContainer {
    display: block;
    width: 50%;
    margin: 1% 25%;
    padding: 0.2rem 0.5rem;
}


.returnAccContainer {
    text-align: left;
    margin: 0.5rem 0rem;
}

.returnLink {
    display: block;
    text-align: left;
    color: #3c96ef;
    font-weight: 600;
    transition: color 0.3s;
    font-size: 1.2rem;
}

.returnLink:hover {
    color: #2d6fb0;
}


.detailsElementsContainer {
    width: 100%;
    margin: 1.5rem 0.3rem 1rem 0.3rem;
}


.addressTypeHeading {
    text-align: left;
    margin-top: 0.5rem;
}


.newAddressBtn {
    margin: 0.6rem 0rem;
}

.actionBtnsContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}


@media only screen and (max-width: 1200px) {
    .addressDetailsContainer {
        width: 90%;
        margin: 2% 5%;
    }
}

@media only screen and (max-width: 768px) {
    .addressDetailsContainer {
        width: 98%;
        margin: 2% 1%;
    }
}