@import url("../UtilityComponents/RootColors/RootColor.css");

.NewsLetterSignupContainer {
    padding: 1rem 3rem;
    background: linear-gradient(to left, var(--LightBlue100), var(--Blue95));
}

.NewsLetterSignupContainerHeading {
    margin: 0rem 0.4rem 0.3rem 0rem;
    color: var(--White100);
    font-weight: bold;
}

.NewsLetterSignupFormContainer {
    background-color: var(--White100);
    padding: 0.5rem;
    border: 0rem;
    border-radius: 1.3rem;
}

.NewsLetterSignupFormContainer > form > input {
    width: 82%;
    border: 0rem;
    border-radius: 0.8rem;
    outline: none;
}


.NewsLetterSignupFormContainer > form > button {
   border: 0rem;
   border-radius: 0.2rem;
   background-color: var(--Blue99);
   padding: 0.2rem 0.5rem;
   font-weight: bold;
   color: var(--White100);
   transition: background-color 0.3s;
}


.NewsLetterSignupFormContainer > form > button:hover {
   background-color: var(--DartBlue100);
 }

@media only screen and (max-width: 576px) {
    
.NewsLetterSignupFormContainer > form > input {
   width: 74%;
}
}



