.navbarContainer {
    position: sticky;
    top: 0rem;
    background-color: #54a4f3;
    z-index: 2;
}
.searchForm {
    width: 60rem;
    border: 0px;
    border-radius: 0.2rem;
    padding: 0rem 1rem;
    height: 2.2rem;
}
.searchButton {
    height: 2.2rem;
    width: 2.5rem;
    border: 0rem;
    border-radius: 0.2rem;
    padding: 0.3rem;
    margin: 0rem 0.4rem;
    background-color: rgb(239, 239, 239);
    transition: background-color 0.3s;
}

.searchButton:hover {
background-color: rgb(222, 222, 222);
}

.searchForm:focus {
    border: none;
    outline: none;
}

.logoFontStyles {
    font-size: 3rem;
    letter-spacing: 0.4rem;
    display: inline-block;
}
.navIconsContainer {
    height: 2.5rem;
    width: 2.5rem;
    background-color: white;
    display: inline-block;
    margin: 0rem 0.4rem;
    border: 1px solid transparent;
    border-radius: 50%;
    padding: 0.6rem 0.2rem;
    transition: border 0.3s;
}

.navIconsContainer:hover {
    border: 1px solid rgb(155, 155, 155);
}

.navIconsContainer > i {
    font-size: 1.4rem;
    color: rgb(181, 181, 181);
    cursor: pointer;
}

.hamburgerIcon {
    display: none;
    border: 0px;
    border-radius: 0.2rem;
    font-size: 1.4rem;
    width: 2.3rem;
    margin-right: 0.6rem;
}

@media only screen and (max-width: 1400px) {
    .searchForm {
        width: 35rem;
    }
}

@media only screen and (max-width: 992px) {
    .searchForm {
        width: 20rem;
    }
}

@media only screen and (max-width: 768px) {
    .searchForm {
        width: 16rem;
    }
    .hamburgerIcon {
        display: inline-block;
        background-color: transparent;
    }
    
.hamburgerIcon {
    font-size: 2rem;
    width: 2.2rem;
    margin-right: 0.6rem;
}
}

@media only screen and (max-width: 576px) {
    .searchForm {
        width: 18rem;
    }
    
.logoFontStyles {
   display: none;
}
}

@media only screen and (max-width: 412px) {
    .searchForm {
        width: 12rem;
    }
}