@import url("../UtilityComponents/RootColors/RootColor.css");

.navbarContainer {
    position: sticky;
    top: 0rem;
    background-color: var(--Blue80);
    z-index: 2;
}
.searchForm {
    width: 60rem;
    border: 0px;
    border-radius: 0.2rem;
    padding: 0rem 1rem;
    height: 2.2rem;
}

.searchButton {
    height: 2.2rem;
    width: 2.5rem;
    border: 0rem;
    border-radius: 0.2rem;
    padding: 0.3rem;
    margin: 0rem 0.4rem;
    background-color: var(--White95);
    transition: background-color 0.3s;
}

.searchButton:hover {
background-color: var(--White85);
}

.searchForm:focus {
    border: none;
    outline: none;
}

.logoFontStyles {
    font-size: 3rem;
    letter-spacing: 0.4rem;
    color: var(--White100);
    text-decoration: none;
    display: inline-block;
}

.logoFontStyles:hover {
    color: var(--White100);
}

.navIconsContainer {
    height: 2.5rem;
    width: 2.5rem;
    background-color: var(--White100);
    display: inline-block;
    margin: 0rem 0.4rem;
    border: 1px solid transparent;
    border-radius: 50%;
    padding: 0.6rem 0.2rem;
    transition: border 0.3s;
}

.navIconsCartContainer, .navIconsWishlistContainer {
    background-color: var(--White100);
    display: inline-block;
    margin: 0rem 0.4rem;
    border: 1px solid transparent;
    border-radius: 50%;
    padding: 0.1rem;
    transition: border 0.3s;
}

.navIconsCartContainer > button, .navIconsWishlistContainer > button {
    background-color: var(--White100);
    color: var(--White55);
    border: 0rem;
    border-radius: 50%;
    font-size: 1.4rem;
}

.navIconsContainer:hover {
    border: 1px solid var(--White50);
}

.navIconsContainer > i {
    font-size: 1.4rem;
    color: var(--White55);
    cursor: pointer;
}

.cartContainer {
    position: absolute;
    background-color: var(--White100);
    overflow-y: auto;
    width: 18rem;
    height: 100vh;
    z-index: 3;
    top: 0rem;
    right: 0rem;
    padding: 0.4rem;
    box-shadow: var(--BoxShadow) 0px 3px 8px;
}

.cartContainer_active {
    height: 100vh;
    background-color: var(--White100);
    transition: 0.2s;
}

.cartContainer_disabled {
   height: 0rem;
   background-color: var(--White100);
   padding: 0rem;
   transition: 0.5s;
   overflow: hidden;
}

.cartHeader {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 0.1rem solid var(--White85);
    padding-bottom: 0.2rem;
}

.cartHeader > h2 {
    font-size: 1.4rem;
    color: var(--White45);
    font-weight: bold;
}

.cartHeader > button {
    background-color: transparent;
    border: 0rem;
    font-size: 1.2rem;
    color: var(--Gray100);
    padding: 0rem 0.6rem;
    border: 1px solid var(--White57);
    transition: color 0.3s;
}

.cartHeader > button:hover {
    color: var(--Black100);
}

.cartItem {
    border-bottom: 0.1rem solid var(--White85);
    padding-bottom: 0.2rem;
    color: var(--Gray50);
    padding: 0.4rem 0.5rem 0.4rem 0.4rem;
    height: 21rem;
    overflow-y: auto;
}

.cartItem > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 0.1rem solid var(--White82);
    margin-top: 0.3rem;
}



.cartContainerTitle {
    font-size: 1rem;
}

.cartContainerImage {
    height: 5rem;
    width: 3rem;
}

.increDecreBtnContainer {
    display: inline-block;
    margin: 0.2rem auto;
    border: 1px solid var(--White57);
    width: 3.1rem;
}

.increDecreBtnContainer > button {
    border: 0px;
    height: 2rem;
    width: 1rem;
    padding: 0rem;
    transition: background-color 0.3s;
}

.increDecreBtnContainer > button:hover {
   background-color: var(--White55);
}

.increDecreBtnContainer > button:nth-child(odd) {
    margin-right: 0.2rem;
}

.increDecreBtnContainer > button:nth-child(even) {
    margin-left: 0.2rem;
}

.qtyAndAmountText {
    display: block;
    font-size: 0.9rem;
}

.qtyAndAmountText > h5 {
    font-size: 1rem;
    color: var(--Gray50);
    display: inline-block;
}

.trashContainer {
    text-align: right;
}

.trashContainer > h4 {
     color: var(--White45);
     font-size: 1.3rem;
}

.trashContainer > button {
    border: 0rem;
    background-color: var(--White100);
    margin-bottom: 3rem;
    color: var(--Orange80);
   }

.trashContainer > button:hover {
    color: var(--Orange85);
}

.middleContainer {
    text-align: left;
    padding-left: 0.5rem;
}

.subTotalContainer {
    color: var(--Black100);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.3rem 0.3rem 0.1rem 0.3rem;
    border-bottom: 0.1rem solid var(--White82);
}

.subTotalContainer > h4 {
    font-size: 1.5rem;
}

.commentContainer {
    color: var(--Black100);
    text-align: left;
}

.commentContainer > textarea {
    width: 100%;
    margin-top: 0.2rem;
    border: 0.1rem solid var(--White82);
}
.commentContainer > textarea:focus {
    outline: none;
}

.commentContainer > p {
    line-height: 1.2rem;
    margin-top: -0.3rem;
}

.commentContainer > button {
    margin: 0.2rem;
    border: 0rem;
    border-radius: 0.3rem;
    background-color: var(--Blue95);
    padding: 0.2rem 0.6rem;
    font-weight: bold;
    color: var(--White100);
    transition: background-color 0.3s;
}

.commentContainer > button:hover {
    background-color: var(--Blue98);
}


.quickNavigationContainer {
    position: relative;
}

.quickNavLinks {
    text-decoration: none;
}

.quickNavMenuContainer {
    position: absolute;
    background-color: var(--White95);
    box-shadow: var(--BoxShadow) 0px 3px 8px;
    border: 0rem;
    border-radius: 0.4rem;
    width: 11.3rem;
    top: 2.8rem;
    right: 0.5rem;
    height: 0rem;
    overflow: hidden;
    transition: 0.4s;
}


.quickNavMenuContainer_active {
    position: absolute;
    background-color: var(--White95);
    box-shadow: var(--BoxShadow) 0px 3px 8px;
    border: 0rem;
    border-radius: 0.4rem;
    width: 11.3rem;
    top: 2.8rem;
    right: 0.5rem;
    padding: 0.8rem 0.8rem;
    height: auto;
    padding: 0.8rem;
    transition: 0.2s;
}


.quickNavMenuElements {
    text-align: left;
    color: var(--Blue80);
    padding-bottom: 0rem;
    margin-bottom: 0.5rem;
    width: 100%;
    border-bottom: 0.1rem solid var(--White82);
}


.quickNavMenuElements > span:nth-child(odd) {
   display: inline-block;
   width: 1rem;
}

.quickNavMenuElements > span:nth-child(even) {
    margin-left: 1rem;
    color: var(--Gray50);
    font-weight: bold;
    transition: color 0.3s;
}

.quickNavMenuElements > span:nth-child(even):hover {
    color: var(--Blue80);
}

.hamburgerIcon {
    display: none;
    border: 0px;
    border-radius: 0.2rem;
    font-size: 1.4rem;
    width: 2.3rem;
    margin-right: 0.6rem;
    transition: color 0.3s;
}

.hamburgerIcon:hover {
    color: var(--Black65);
}

.hamburgerIconSection {
    position: relative;
}

.hamburgerMenuContainer {
    position: absolute;
    background-color: var(--White100);
    box-shadow: var(--BoxShadow) 0px 3px 8px;
    left: -15rem;
    top: -0.1rem;
    height: 100vh;
    width: 13rem;
    transition: 0.6s;
}

.hamburgerMenuContainer_active {
    position: absolute;
    background-color: var(--White100);
    box-shadow: var(--BoxShadow) 0px 3px 8px;
    height: 100vh;
    overflow-y: scroll;
    width: 14rem;
    transition: 0.4s;
    top: -0.1rem;
    left: -1rem;
}

.hamburgerElementsContainer {
    list-style-type: none;
}

.hamburgerElementsInnerContainer {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    text-decoration: none;
    color: var(--Gray40);
    padding: 0.5rem 1rem;
    font-weight: bold;
    transition: color 0.3s;
    border-bottom: 0.1rem solid var(--Gainsboro100);
}

.hamburgerElementsInnerContainer:hover {
    color: var(--Gray55);
}

.hamburgerElementsInnerContainer > span:nth-child(odd) {
   color: var(--Blue95);
}

.hamburgerElementsInnerContainer > span:nth-last-child(even) {
    display: inline-block;
    padding: 0.2rem 1rem;
}

.closeBtnContainer {
    height: 3.2rem;
    background-color: var(--Blue85);
}

.closeBtnContainer > button {
   border: 0rem;
   background-color: transparent;
   color: var(--Black100);
   font-size: 2rem;
   margin: 0rem 0.5rem;
   float: left;
}

.closeBtnContainer > button:hover {
    color: var(--Black65);
 }


.closeBtnContainer > button:after {
    content: "";
    clear: both;
    display: table;
 }

 .profilePictureContainer {
    padding: 0.5rem 0.5rem;
    border-bottom: 0.2rem solid var(--Blue85);
    position: relative;
    height: 6rem;
 }

 .dpImage {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: 0.1rem solid var(--Blue85);
    padding: 0.1rem;
    position: absolute;
    left: 0.5rem;
    background-color: var(--White100);
 }

 .profilePictureContainer > h3 {
    margin-top: 0.9rem;
    margin-left: 3.3rem;
    font-size: 1.3rem;
    color: var(--Black100);
    text-align: left;
 }

 .LoginAndSignupBtns {
    border: 0rem;
    background-color: var(--Blue99);
    border-radius: 0.3rem;
    margin: 0.4rem;
    font-weight: bold;
    padding: 0.1rem 0.6rem;
    color: var(--White100);
    text-decoration: none;
 }

 
 .LoginAndSignupBtns:hover {
    background-color: var(--Blue100);
 }

@media only screen and (max-width: 1400px) {
    .searchForm {
        width: 35rem;
    }
}

@media only screen and (max-width: 992px) {
    .searchForm {
        width: 20rem;
    }
}

@media only screen and (max-width: 768px) {
    .searchForm {
        width: 30rem;
    }

    .hamburgerIcon {
        display: inline-block;
        background-color: transparent;
    }
    
.hamburgerIcon {
    font-size: 2rem;
    width: 2.2rem;
    margin-right: 0.6rem;
}

.closeBtnContainer {
    height: 4.2rem;
    background-color: var(--Blue85);
}

.navbarContainer {
    padding-bottom: 1rem;
}

}

@media only screen and (max-width: 576px) {
    .searchForm {
        width: 18rem;
    }
 
.closeBtnContainer {
    height: 3.2rem;
}
}

@media only screen and (max-width: 430px) {
    .searchForm {
        width: 18rem;
    }
    
    .logoFontStyles {
    letter-spacing: 0.1rem;
   }
}