@import url("../UtilityComponents/RootColors/RootColor.css");

.topNavBarContainer {
    background-color: var(--Blue100);
    border-bottom: 1px solid var(--White80);
}

.topNavBarSlogan {
    color: var(--White100);
    transition: color 0.3s;
}
.topNavBarSlogan:hover {
    color: var(--White95);
}
.socialIconStyles {
    color: var(--White100);
    transition: color 0.3s;
}
.socialIconStyles:hover {
color: var(--White90);
}