@import url("../UtilityComponents/RootColors/RootColor.css");

.formContainer {
    display: block;
    width: 40%;
    margin: 2% 30%;
}

.formFieldsElementsContainer {
    width: 100%;
}

.formFieldsElementsContainer > input {
    width: 100%;
    margin-bottom: 0.5rem;
    outline: none;
    border: 0.1rem solid rgb(220, 220, 220);
    border-radius: 0.4rem;
    padding: 0.3rem 0.6rem;
    color: rgb(66, 66, 66);
}

.formFieldsElementsContainer > input:focus {
    outline: none;
}

.formFieldsElementsContainer > label {
    display: block;
    text-align: left;
    margin-bottom: 0.2rem;
    color: rgb(87, 87, 87);
}



@media only screen and (max-width: 576px) {
    .formContainer {
        width: 80%;
        margin: 2% 10%;
    }
}