@import url("../UtilityComponents/RootColors/RootColor.css");

.methodParentContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0rem 0.5rem;
}

.shipMethodContainer {
    text-align: left;
}

.shipMethodContainer > h2 {
    color: var(--Blue95);
    font-size: 2.4rem;
}

.navBtns {
    background-color: var(--White100);
    border: 0rem;
    color: var(--Gray45);
}

.navBtns:hover {
    color: var(--Black75);
}

.navBtnsActive {
    border: 0rem;
    background-color: var(--White100);
    color: var(--Blue95);
}

.shipMethodContainer > h4 {
    margin-top: 0.6rem;
    color: var(--Black75);
}


.returnCartBtn {
    background-color: var(--White100);
    border: 0rem;
    color:var(--Blue95);
    transition: color 0.3s;
    font-weight: bold;
    font-size: 1.1rem;
}

.returnCartBtn:hover {
    color: var(--Blue98);
}

.billSheetContainer {
    background-color: var(--LightBlue50);
    padding: 1rem;
}

.mobBillSheetContainer {
    margin-top: 0.6rem;
    display: none;
}

.mobBillSheetBtnContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 40%;
    margin-bottom: 0.5rem;
    background-color: var(--White85);
    padding: 0.5rem;
    transition: background-color 0.3s;
}

.mobBillSheetBtnContainer:hover {
    background-color: var(--White82);
}

.mobBillSheetContainer {
    cursor: pointer;
}

.mobBillSheetBtnContainer > div > button {
    border: 0rem;
    background-color: transparent;
    font-weight: bold;
    font-size: 1rem;
    color: var(--Gray45);
}

.mobBillAmountContainer {
    background-color: var(--LightBlue50);
    padding: 0.5rem;
}

.shippingMethodAddressContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0.8rem 0.6rem 0.8rem 0rem;
    text-align: left;
    border: 0.1rem solid var(--White90);
    border-radius: 0.4rem;
}


.addressDetailsRow1 {
   border-bottom: 0.1rem solid var(--White90);
}


.addressDetailsRow > td {
    padding: 0.5rem;
    color: var(--Gray45);
}

.addressDetailsRow > .addressHeading {
    color: var(--White48);
}

.addressDetailsRow > td > button {
    background-color: var(--White100);
    border: 0rem;
    color: var(--Blue95);
    transition: color 0.3s;
}

.addressDetailsRow > td > button:hover {
   color:  var(--Blue98);
}

.shippingMethodChooserContainer {
    margin: 0.8rem 0.6rem 0.8rem 0rem;
    text-align: left;
    border: 0.1rem solid var(--White90);
    border-radius: 0.4rem;
}

.shippingMethodChooserContainer > div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-bottom: 0.1rem solid var(--White90);
}

.shippingMethodChooserContainer > div > div {
    padding: 0.5rem;
    text-align: left;
}

.shippingMethodChooserContainer > div > div > button {
    background-color: var(--White100);
    border: 0rem;
    margin-right: 0.5rem;
    padding: -1rem;
    color: var(--White50);
    font-weight: 600;
    transition: color 0.3s;
}

.shippingMethodChooserContainer > div > div > button:hover {
    color: var(--White45);
}

.shippingMethodChooserContainer > div > div > .methodActive {
    color: var(--Blue98);
}

.shippingMethodChooserContainer > div > div > .methodActive:hover {
    color: var(--Blue99);
}

.methodPrice {
    font-weight: bold;
}

.methodType {
    color: var(--White42);
    font-weight: 600;
}

@media only screen and (max-width: 1250px) {
    .billSheetContainer {
        display: none;
    }
    .mobBillSheetContainer{
        display: inline-block;
        width: 100%;
    }
    .returnCartBtn {
        display: block;
        margin: 0.5rem auto;
    }
}

@media only screen and (max-width: 1050px) {
   
    .mobBillSheetBtnContainer {
    width: 60%;
   }
   
.shippingMethodAddressContainer, .shippingMethodChooserContainer {
    margin: 0.8rem 0.6rem 0.8rem 0.6rem;
}
}

@media only screen and (max-width: 456px) {
    .methodParentContainer {
        margin: 0rem 1rem;
    }
}


@media only screen and (max-width: 380px) {
    .methodParentContainer {
        margin: 0rem 1.5rem;
    }
}