@import url("../UtilityComponents/RootColors/RootColor.css");


.mapouter { 
    position:relative;
    text-align:right;
    height:300px;
    width:600px;
   
}

.gmap_canvas { 
    overflow:hidden;
    background:none!important;
}

.mapContainer {
    margin: 2rem 0.3rem 0rem 0.3rem;
}
.addressAndNumberContainer {
    display: block;
    margin: 0rem auto;
    width: 79%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0.3rem;
    line-height: 1.2rem;
    margin-top: -0.4rem;
    border-bottom: 0.2rem solid var(--White85);
    margin-bottom: 1rem;
    color: var(--Black75);
}

.addressContainer > span {
    display: block;
    text-align: left;
    font-size: 1.2rem;
    width: 24rem;
    font-weight: light;
}

.numberContainer > p {
    margin: 0.2rem;
    text-align: right;
}

.messageIconContainer {
    margin: 0.3rem auto 1.2rem auto;
}

.messageIconContainer > i {
    font-size: 5rem;
    color: var(--Blue85);
}

.contactFormContainer {
    width: 80%;
    margin: 0.2rem auto;
}

.contactFormContainer > form > input {
    height: 2.4rem;
}

.contactFormContainer > form > input, .contactFormContainer > form > textarea {
    width: 80%;
    display: block;
    border-radius: 0.3rem;
    padding: 0.4rem;
    border: 0.1rem solid transparent;
    margin: 0.6rem auto;
    background-color: var(--White95);
}

.contactFormContainer > form > textarea {
    height: 10rem;
}

.contactFormContainer > form > input:focus, .contactFormContainer > form > textarea:focus {
    outline: none;
    border: 0.1rem solid var(--White55);
}


@media only screen and (max-width: 768px) {
    .addressAndNumberContainer {
        flex-direction: column;
    }
    
.addressContainer > span {
    text-align: center;
    width: 100%;
    margin-bottom: 0.5rem;
}

.numberContainer > p {
    text-align: center;
    margin: 0rem;
}

.contactFormContainer > form > input, .contactFormContainer > form > textarea {
    width: 100%;
}

}


