
.buttonComponent {
    border: 0rem;
    padding: 0.4rem 0.8rem;
    font-weight: bold;
    border-radius: 0.4rem;
    color: white;
    margin: 0.5rem 0.8rem 0.5rem 0rem;
    transition: background-color 0.3s;
}

.blueButtonComponent {
    background-color: #378ade;
}

.orangeRedButtonComponent {
    background-color: orangered;
}

.greenButtonComponent {
    background-color: green;
}

.blueButtonComponent:hover {
    background-color: #3061e8;
}

.orangeRedButtonComponent:hover {
    background-color: rgb(225, 60, 0);
}

.greenButtonComponent:hover {
    background-color: rgb(0, 104, 0);
}