
.buttonComponent, .blueNonRadiusButtonComponent {
    border: 0rem;
    padding: 0.4rem 0.8rem;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 0.4rem;
    color: var(--White100);
    margin: 0.5rem 0.4rem 0.5rem 0.4rem;
    transition: background-color 0.3s;
}

.outlineButtonComponent {
    padding: 0.3rem 0.8rem;
    background-color: var(--White100);
    border: 0.1rem solid var(--Blue99);
    color: var(--Blue99);
}

.blueNonRadiusButtonComponent {
    margin: 0rem;
    background-color: var(--Blue99);
    border-radius: 0rem;
    color: var(--White100);
    transition: background-color 0.3s;
    font-size: 1rem;
}

.blueFullRadiusButtonComponent {
    border: 0.1rem solid var(--Blue99);
    margin: 0rem;
    background-color: var(--Blue99);
    font-size: 1rem;
    border-radius: 1.4rem;
    color: var(--White100);
}

.blueDarkButtonComponent {
    background-color: var(--UltraDarkBlue100);
    border-radius: 0.4rem;
    color: var(--White100);
    font-size: 1rem;
    display: inline-block;
}


.firstButtonComponent {
    margin-left: 0rem;
}

.blueButtonComponent {
    background-color: var(--Blue99);
}

.orangeRedButtonComponent {
    background-color: var(--OrangeRed100);
}

.greenButtonComponent {
    background-color: var(--Green100);
}

.outlineButtonComponentActive {
    background-color: var(--Blue99);
    color: var(--White100);
}

.blueButtonComponent:hover, .blueFullRadiusButtonComponent:hover {
    background-color: var(--DartBlue100);
}

.orangeRedButtonComponent:hover {
    background-color: var(--LightOrange100);
}

.greenButtonComponent:hover {
    background-color: var(--LightGreen100);
}

.outlineButtonComponent:hover {
    background-color: var(--Blue99);
    color: var(--White100);
}

.outlineButtonComponentActive:hover {
    background-color: var(--Blue100);
}

.blueDarkButtonComponent:hover {
    background-color: var(--UltraDarkBlue50);
}

.blueNonRadiusButtonComponent:hover {
    background-color: var(--Blue85);
}


@media only screen and (max-width: 456px) {
    .blueFullRadiusButtonComponent {
        margin-top: 0.8rem;
    }
}


@media only screen and (max-width: 1250px) {
    .blueDarkButtonComponent {
        display: block;
        margin: 0.5rem auto;
    }
}

@media only screen and (max-width: 380px) {
    .blueDarkButtonComponent {
        display: block;
        margin: 0.5rem auto;
    }
}

@media only screen and (max-width: 390px) {
    .commonBtn {
        font-size: 0.7rem;
        margin: 0.2rem;
    }
}
